{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
        <title>Swaraj Group | Real Estate Developers | Top Builder in Amravati </title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <body>

        <!--================Header Menu Area =================-->
        <header class="header_area">
           	<div class="top_menu row m0">
           		<div class="container">
					<div class="float-left">
						<ul class="list header_social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://instagram.com/swaraj_builders?igshid=13dhrq0qcvjbs"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>

           		</div>
           	</div>
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="{% url 'index' %}"><img src="{%  static 'img/favicon.png' %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'service' %}">Services</a>
                                <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Projects</a>
                                <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>

								<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h3>Build Your <span>Dream</span></h3>
						<p>Swaraj Builder is one of the promising builders in the field of Real Estate. All Swaraj Builder constructions have the highest standards of quality through the construction process.</p>
						<a class="black_btn" href="#">Discover Now</a>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Services Area =================-->
        <section class="services_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Our Offered Services</h2>
        			<p>Swaraj Builder specializes in customizing its approach
to the needs and challenges of each project, no matter the size and scope.</p>
        		</div>
        		<div class="row services_inner">
        			<div class="col-lg-4">
        				<div class="services_item">
        					<img src="{% static 'img/icon/service-icon-1.png' %}" alt="">
        					<a href="#"><h4>CONSTRUCTION MANAGEMENT & CONTRACTING</h4></a>
        					<p>Our's Construction Management process exceeds project and
Owner objectives through structured and consistent systems and procedures as applied by a highly-talented Project Team especially selected for each project based on their relevant experience and capabilities.</p>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="services_item">
        					<img src="{% static 'img/icon/service-icon-2.png' %}" alt="">
        					<a href="#"><h4>DESIGN BUILD</h4></a>
        					<p>Swaraj Builder has consistently demonstrated its successful Design-Build capabilities and approach as a delivery system.We believes that sustainable design makes sense and it is our responsibility to implement green practices. Sustainable designs can offer a significant operating cost-savings to owners while having a positive impact on the environment.</p>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="services_item">
        					<img src="{% static 'img/icon/service-icon-3.png' %}" alt="">
        					<a href="#"><h4>PRECONSTRUCTION SERVICES</h4></a>
        					<p>Swaraj Builder preconstruction services include design review, constructability analysis, value engineering, as well as detailed, accurate and easy to understand estimates. By maintaining a variety of disciplines and expertise within our preconstruction staff, not depending on external sub-consultants, and utilizing state-of-the art estimating software, we ensures our clients the best quality and cost return for their construction budget.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Services Area =================-->

        <!--================Builder Image Area =================-->
        <seciton class="builder_area">
        	<div class="main_title">
        		<h2>Our Latest Projects</h2>
        		<p>Who are in extremely love with eco friendly system.</p>
        	</div>
			<div class="row m0 builder_inner">
                {% for project in projects %}

				<div class="builder_item">
					<img src="{{ project.images.url }}" alt="" style="width:520px;height:400px">
					<div class="hover ">
						    <h4>{{project.title}}</h4>
						<p>{{ project.description}}</p>
					</div>
				</div>

                {% endfor %}
			</div>
        </seciton>
        <!--================End Builder Image Area =================-->

        <!--================Team Area =================-->
        <section class="team_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Meet Our Expert Members</h2>
        			<p>Who are in extremely love with eco friendly system.</p>
        		</div>
        		<div class="row team_inner">
        			<div class="col-lg-4 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="{% static 'img/govind.jpg' %}" alt="" style="width:400px;height:300px">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Govind Hadole</h4>
        						<p>CEO & Founder</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="{% static 'img/sumit.jpg' %}" alt="" style="width:400px;height:300px">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Sumit Bajare</h4>
        						<p>Managing Director (Sales)</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="{% static 'img/deepak.jpg' %}" alt="" style="width:400px;height:300px">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Deepak Rekhate</h4>
        						<p>Assistant Manager</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Team Area =================-->

        <!--================Counter Area =================-->
        <section class="counter_area">
        	<div class="container">
        		<div class="row m0 counter_inner">
                    {% for record in records %}
        			<div class="counter_item">
        				<h4 class="counter">{{ record.projects_completed }}</h4>
        				<p>Projects Completed</p>
        			</div>
        			<div class="counter_item">
        				<h4 class="counter">{{record.happy_clients}}</h4>
        				<p>Really Happy Customer</p>
        			</div>
        			<div class="counter_item">
        				<h4 class="counter">{{record.total_tasks}}</h4>
        				<p>Total Tasks Completed</p>
        			</div>
                    {% endfor %}
        		</div>
        	</div>
        </section>
        <!--================End Counter Area =================-->

        <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Some Features that Made us Unique</h2>
        			<p>Who are in extremely love with eco friendly system.</p>
        		</div>
        		<div class="row feature_inner">
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-user"></i>Expert Technicians</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-license"></i>Professional Service</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-phone"></i>Great Support</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-rocket"></i>Technical Skills</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-diamond"></i>Highly Recomended</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-bubble"></i>Positive Reviews</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->

        <!--================Clients Logo Area =================-->

        <!--================ start footer Area  =================-->
        <footer class="footer-area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget ab_wd">
                            <h6 class="footer_title">About Us</h6>
                            <p>Green initiatives, advanced engineering ensure the best standards in construction since 2016. The group mainly focuses on delivering high-quality spaces and have been powering the goals of emerging as a leading name.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget contact_wd">
                            <h6 class="footer_title">Contact Us</h6>
                            <p>Navsari, Paratwada Road, Amravati(444602)</p>
                            <a href="Mob:9766544180">+91-9766544180</a>
                            <a href="Mob:9970407037">+91-9970407037</a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6 offset-lg-1">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Newsletter</h6>
                            <p>You can trust us. we only send promo offers, not a single spam.</p>
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                                    </div>
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-md-8 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Swaraj Builder Construction Company Copyright &copy;<script>document.write(new Date().getFullYear());</script> Construction Company Website by: Deepak Rekhate
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-md-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </footer>
            </div>
        </footer>
		<!--================ End footer Area  =================-->




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.counterup.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
    </body>
</html>